@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

:root {
  --Background-Color: #10102B;
  --Check-BG: #36FF54;
  --Check-Color: #191944;
  --Color-Text: #f6f6f6;
  --Text-Hover: #191944;
  --Box-Links-BG: rgba( 255, 255, 255, 0.25 );
  --Shadow-Bx-Links: rgba( 31, 38, 135, 0.37 );
  --Border-Color-Links: #36FF54;
  --Border-Hover: #0b0b20;
  --Special-BG: #36FF54;
  --Special-Hover-BG: #191944;
}
:root .light {
  --Background-Color: #ccc;
  --Check-BG: #3068B1;
  --Check-Color: #c5c5c5;
  --Color-Text: #191944;
  --Text-Hover: #f6f6f6;
  --Box-Links-BG: rgba(112, 186, 255, 0);
  --Shadow-Bx-Links: #bebebe;
  --Border-Color-Links: #3068B1;
  --Border-Hover: #c5c5c5;
  --Special-BG: #3068B1;
  --Special-Hover-BG: #9ac0f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Background-Color);
  transition: background-color 0.3s ease-in-out;
  position: relative;

  font-family: "Poppins", monospace;
  font-family: "Mulish", sans-serif;

  > .toggle-part {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10rem;
    height: 8rem;
    align-items: center;
    top: 4rem;
    right: 18rem;

    @media screen and (max-width: 980px) {
      top: 3rem;
      right: 1rem;
    }

    > label {
      position: relative;
      font-size: 1.2rem;
      letter-spacing: .2rem;
      font-family: "Poppins";
      margin-bottom: .8rem;
    }

    > #toggle-btn {
      appearance: none;
      width: 6.5rem;
      height: 2.4rem;
      border-radius: 0.4rem;
      background-color: var(--Check-BG);
      position: relative;
      outline: 0;
      cursor: pointer;

      &::before {
        content: "";

        height: 2.4rem;
        width: 3rem;

        border-radius: 0.4rem;
        transform: translateX(0) scale(0.8);
        background: var(--Check-Color);

        position: absolute;
        transition-property: transform, background;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }

      &:checked {
        background-color: var(--Check-BG);
        transition-property: transform, background;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        &::before {
          transform: translateX(3.4rem) scale(0.8);
          background: var(--Check-Color);
        }
      }
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;

  > figure {
    > img {
      width: 12rem;
      border-radius: 6rem;
      border: 0.3rem solid var(--Border-Color-Links);
    }
  }

  > h1 {
    color: var(--Color-Text);
    font-family: "Poppins", monospace;
    font-size: 3rem;
    margin: 2rem 0;
  }

  > p {
    color: var(--Color-Text);
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
    text-align: center;
    margin-bottom: 4rem;
  }
}
.bx-all-links {
  display: flex;
  min-height: 25rem;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
  background-color: var(--Box-Links-BG);
  padding: 4rem;

  background: var(--Box-Links-BG);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  @media screen and (max-width: 980px) {
    flex-direction: column;
  }

  > .rows {
    display: flex;

    @media screen and (max-width: 980px) {
      flex-direction: column;
    }

    > nav {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 20rem;
      height: 10rem;

      border-radius: 1rem;
      margin: 1rem;
      padding: 1rem;

      background: transparent;
      border: .2rem solid var(--Border-Color-Links);

      transition: 0.5s ease-in-out;

      &:hover {
        background: var(--Box-Links-BG);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
        backdrop-filter: blur( .6rem );
        -webkit-backdrop-filter: blur( .6rem );
        border-radius: 1rem;
        border: .2rem solid var(--Border-Color-Links);

        > a {
          color: var(--Text-Hover);
        }
      }

    }
  }
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Color-Text);
  padding: 3rem;
  font-size: 2rem;

  transition: 0.5s ease-in-out;
  > .iconify {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1rem;
  }
}

.contact {
  min-height: 5rem;
  background-color: var(--Special-BG);
  margin-top: 4rem;
  text-align: center;
  border-radius: 1rem;
  transition: 0.5s ease-in-out;

    &:hover {
      background-color: var(--Special-Hover-BG);
      > a {
        color: var(--Color-Text);
      }
    }
  > a {
    padding: 1rem 3rem;
    color: var(--Text-Hover);
  }
}